@model MvcStock.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class=" form-group">
    <div>
        <label>Müşteri Ad</label>
        @*<input type="text" class=" form-control" name="MusteriAd" />*@
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control", @id = "txtAd" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyad</label>
        @*<input type="text" class=" form-control" name="MusteriSoyad" />*@
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriSoyad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" id="btn1" onclick="ButonaBas()">Müşteri Ekle</button>
    </div>
    <script>
        function ButonaBas() {
            if (document.getElementById("txtAd").value == "") {
                alert("Ekleme İşlemi Gerçekleşmedi")
            }
            else {
                alert("Müşteri Ekleme İşlemi Başarılı")
            }
        }
    </script>
</form>

